@keyframes bar-before {
  0% {
    width: 0px;
  }
  100% {
    width: 100%;
  }
}
@for $i from 1 through 100 {
  .bar#{$i} {
    $value: ($i * 1%);
    max-width: $value;
  }
}
.bar {
  height: 50px;
  max-width: 80%;
  margin: 0 auto 10px auto;
  line-height: 50px;
  font-size: 16px;
  color: rgb(0, 0, 0);
  padding: 0 0 0 10px;
  position: relative;
}
.bar > .bg {
  content: "";
  width: 100%;
  position: absolute;
  left: 0;
  height: 50px;
  top: 0;
  z-index: -2;
  background: #ecf0f1;
  border: 30px;
  border-radius: 30px;
}
.content {
  content: "";
  background: #1ea2c3;
  height: 50px;
  transition: 0.7s;
  display: block;
  width: 100%;
  animation: bar-before 1 1.8s;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  border: 30px;
  border-radius: 30px;
}
.bar,
.bg,
.content {
  &.arraw-right {
    border: 0px;
    border-radius: 0px;
  }
}

.arraw-right::after, .arraw-right::before {
  border: solid transparent;
  content: " ";
  height: 0;
  left: 100%;
  position: absolute;
  width: 0;
  z-index: -2;
}
.bar.arraw-right:after {
  border-width: 25px;
  border-left-color: #ecf0f1;
  top: 0px;
}
.arraw-right:after {
  border-width: 25px;
  border-left-color: #1ea2c3;
  top: 0px;
}