// Grid container
.grid-container {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

// Grid item (third)
.grid-container .grid-item:nth-child(3) {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
  // or
//   grid-column: 1 / 3;
//   grid-row: 1 / 3;
  // or
//   grid-column: 1 / span 2;
//   grid-row: 1 / span 2;
  // or
//   grid-column: -5 / span 2; // because we have 4 columns
//   grid-row: -4 / span 2; // because we have 3 rows
}
