<template>
  <div class="graph-cont">
    <h1>BAR Chart 圓角</h1>
    <div class="bar" v-for="i in 10" :key="i">
      <div class="bg"></div>
      <div class="content" :class="[`bar${i*10}`]"></div>
      {{i*10}}%
    </div>
    <h1>BAR Chart 箭頭style</h1>
    <div class="bar arraw-right" v-for="i in 10" :key="i">
      <div class="bg arraw-right"></div>
      <div class="content arraw-right" :class="[`bar${i*10}`]"></div>
      {{i*10}}%
    </div>
  </div>
</template>

<script>
export default {
  name: 'Bar',
  data: () => {
    return {}
  },
  mounted () {},
  watch: {},
  methods: {}
}
</script>

<style scoped></style>
