<template>
  <div>
    <div class="control-panel">
      <div @click="accessDateCondition('subtract')">Previous month</div>
      <div>{{ monthFormatString }}</div>
      <div @click="accessDateCondition('add')">Next month</div>
    </div>
    <div class="calendar-container">
      <!-- <div class>firstDay: {{ firstDay }}</div>
      <div class>lastDay: {{ lastDay }}</div>
      <div class>daysOfMonth: {{ daysOfMonth }}</div>
      <h1>previousMonth data</h1>
      <div class>previousMonthData: {{ previousMonthData }}</div>
      <h1>Current data</h1>
      <div class>datalist: {{ datalist }}</div>
      <h1>nextMonth data</h1>
      <div class>nextMonthData: {{ nextMonthData }}</div> -->
      <div v-for="(data, index) in Array(7).fill(1)" :key="`weekStr-${index}`" class="title">
        <div>{{ getWeekString(index) }}</div>
      </div>
      <div v-for="(data, index) in datalist" :key="index" class="item">
        <div class="day" :class="{ 'no-current-month': data.isCurrentMonth === false }">{{ data.day }}</div>
      </div>
    </div>
  </div>
</template>

<script>
import moment from 'moment'
export default {
  name: 'Calendar',
  data: () => {
    return {
      monthCondition: 0,
      dataLength: 7 * 6 // display items.
    }
  },
  methods: {
    getMonthData (daysOfMonth, dayOfWeek, isCurrentMonth = false) {
      let datalist = []
      for (let i = 0; i < daysOfMonth; i++) {
        datalist.push({
          day: i + 1,
          dayOfWeek: (dayOfWeek + i) % 7,
          isCurrentMonth: isCurrentMonth
        })
      }
      return datalist
    },
    getWeekString (index) {
      return ['日', '一', '二', '三', '四', '五', '六'][index]
    },
    accessDateCondition (condition) {
      let value = condition === 'subtract' ? -1 : 1
      this.monthCondition = this.monthCondition + value
    }
  },
  computed: {
    currentDate: function () {
      return moment().add(this.monthCondition, 'month')
    },
    firstDay: function () {
      return this.currentDate.startOf('month')
    },
    lastDay: function () {
      return this.currentDate.endOf('month')
    },
    dayOfWeek: function () {
      return moment(this.firstDay).day()
    },
    daysOfMonth: function () {
      return Number(moment(this.lastDay).format('DD'))
    },
    monthFormatString: function () {
      let month = Number(this.currentDate.format('MM') || 1) - 1
      let year = this.currentDate.format('YYYY')
      let monthString = ['一月', '二月', '三月', '四月', '五月', '六月', '七月', '八月', '九月', '十月', '十一月', '十二月'][month]
      return `${year} ${monthString}`
    },
    datalist: function () {
      const previousDataLength = this.previousMonthData.length
      const previousStartIndex = previousDataLength - this.dayOfWeek
      const nextEndIndex = this.dataLength - (this.daysOfMonth + this.dayOfWeek)
      return this.previousMonthData.slice(previousStartIndex, previousDataLength)
        .concat(this.getMonthData(this.daysOfMonth, this.dayOfWeek, true))
        .concat(this.nextMonthData.slice(0, nextEndIndex))
    },
    previousMonthData: function () {
      let previousDate = this.currentDate.add(this.monthCondition - 1, 'month')
      let firstDay = previousDate.startOf('month')
      let lastDay = previousDate.endOf('month')
      let dayOfWeek = moment(firstDay).day()
      let daysOfMonth = Number(moment(lastDay).format('DD'))
      return this.getMonthData(daysOfMonth, dayOfWeek)
    },
    nextMonthData: function () {
      let nextDate = this.currentDate.add(this.monthCondition + 1, 'month')
      let firstDay = nextDate.startOf('month')
      let lastDay = nextDate.endOf('month')
      let dayOfWeek = moment(firstDay).day()
      let daysOfMonth = Number(moment(lastDay).format('DD'))
      return this.getMonthData(daysOfMonth, dayOfWeek)
    }
  }
}
</script>

<style scoped>
html, body, input, textarea, select, button {
    background-color: #181a1b;
}
.control-panel {
  width: 100vw;
  height: 50px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
}
.calendar-container {
  width: 100vw;
  height: 100%;
  background-color: darkcyan;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  justify-content: center;
}
.item {
  height: 70px;
  border-style: solid;
  border-color: #ffffff;
  position: relative;
  color: #ffffff;
}
.title {
  height: 40px;
  border-style: solid;
  border-color: #ffffff;
  position: relative;
  font-size: 2rem;
  color: #000;
}
.day {
  font-size: 3rem;
}
.day-of-week {
  position: absolute;
  right: 0;
  top: 0;
}
.no-current-month {
  color: #6e6e6e;
}
</style>
