<template>
  <div>
    <button @click="download">Download example photo (domtoimage)</button>
    <button @click="download2">Download example photo (html2canvas)</button>
    <div id="donwloadJpgeExample">
      <img alt='Vue logo' src='@/assets/logo.png' />
    </div>
  </div>
</template>

<script>
import domtoimage from 'dom-to-image'
import html2canvas from 'html2canvas'

export default {
  name: 'GeneratePhoto',
  data: () => {
    return {}
  },
  methods: {
    download () {
      domtoimage.toJpeg(document.getElementById('donwloadJpgeExample'), { quality: 0.95 })
        .then(function (dataUrl) {
          let link = document.createElement('a')
          link.download = 'demo.jpeg'
          link.href = dataUrl
          link.click()
        })
    },
    download2 () {
      html2canvas(document.getElementById('donwloadJpgeExample')).then(function (canvas) {
        // document.body.appendChild(canvas)
        let a = document.createElement('a')
        a.href = canvas.toDataURL('image/jpeg')
        a.download = 'demo.jpg'
        a.click()
      })
    }
  }
}
</script>

<style scoped>
#donwloadJpgeExample {
  width: 350px;
  height: 350px;
  background-image: url('~@/assets/bg.png');
  display: flex;
  align-items: center;
  justify-content: center;
}
</style>
