<template>
  <div class='hello'>
    <img alt='Vue logo' src='@/assets/logo.png' />
    <h1>{{ msg }}</h1>
    <div class='grid-container'>
      <div class='grid-item'>grid item 1</div>
      <div class='grid-item'>grid item 2</div>
      <div class='grid-item'>grid item 3</div>
      <div class='grid-item'>grid item 4</div>
      <div class='grid-item'>grid item 5</div>
      <div class='grid-item'>grid item 6</div>
      <div class='grid-item'>grid item 7</div>
      <div class='grid-item'>grid item 8</div>
      <div class='grid-item'>grid item 9</div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'HelloWorld',
  props: {
    msg: String
  }
}
</script>

<!-- Add 'scoped' attribute to limit CSS to this component only -->
<style scoped>
</style>
