<template>
  <div>
    <div>size: <input v-model='size'/></div>
    <div>doughnutSize(0~1): <input v-model='doughnutHoleSize'/></div>
    <div>balance: <input v-model='memberBalance'/></div>
    <button @click='draw'>update</button>
    <div class='container'>
      <canvas id='pieCanvas'></canvas>
      <!-- <div class='title'>9,123,123.00</div> -->
    </div>
  </div>
</template>

<script>
import { PieChart, PieTypes } from '@/libs/charts'

export default {
  name: 'Pie',
  data: () => {
    return {
      pie: null,
      size: 200,
      doughnutHoleSize: 0.9,
      memberBalance: '9,123,123.00',
      pieTitle: '直推獎金'
    }
  },
  mounted () {
    this.draw()
  },
  watch: {
    size: function (val) {
      this.size = val
    },
    doughnutHoleSize: function (val) {
      this.doughnutHoleSize = val
    },
    memberBalance: function (val) {
      this.memberBalance = val
    }
  },
  methods: {
    draw () {
      const options = {
        canvas: document.getElementById('pieCanvas'),
        data: {
          'Classical music': 10
          // 'Alternative rock': 14,
          // 'Pop': 2,
          // 'Jazz': 12
        },
        width: this.size,
        height: this.size,
        doughnutHoleSize: this.doughnutHoleSize,
        memberBalance: this.memberBalance,
        pieTitle: this.pieTitle
      }
      this.pie = new PieChart(options)
      this.pie.draw(PieTypes.PIE_CHART_MEMBER)
    }
  }
}
</script>

<style scoped>
.container {
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
}
canvas {
  background-color: #f9f9f9
}
/* .title {
  position: absolute;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.7em;
  padding-bottom: 15px;
} */
</style>
